@import './abstract/variables';
@import './abstract/mixins/screens';
@import './abstract/mixins/link';
@import './abstract/mixins/scroll';

@import './core/reset';
@import './core/typography';

@import './layout/layout';
@import './layout/main';
@import './layout/header';
@import './layout/footer';

@import './components/navbar';
@import './components/about-me';
@import './components/experience';
@import './components/job';
@import './components/education';