.header {
    position: sticky;
    top: 0;
    z-index: 999;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;

    &__link {
        z-index: 999;
    }

    &__logo {
        height: 43px;
        width: 75px;
    }

    &__btn {
        z-index: 999;
        background-color: transparent;
        border: none;

        @include sm {
            display: none;
        }
    }
}