.footer {
    grid-area: footer;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    background-color: $primary-color;

    &--invisible {
        pointer-events: none;
        visibility: hidden;
    }

    &__network {
        margin-bottom: 2.5rem;
    }

    &__network-item {
        padding: 0.5rem 0;
    }

    &__link {
        @include reset-link;
    }

    &__copyright {
        font-size: 0.7rem;
    }
}