.header {
    position: sticky;
    top: 0;
    z-index: 999;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;

    &__link {
        z-index: 999;
        display: inline-flex;
        align-self: center;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 500;
        color: black;
    }

    &--accent {
        color: $accent-color;
    }

    &__logo {
        height: 43px;
        width: 75px;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__btn {
        z-index: 999;
        background-color: transparent;
        border: none;
    }
}

@include sm {
    .header {
        width: calc(100% - 2rem);

        &__btn {
            display: none;
        }
    }
}