html {
    scroll-behavior: smooth;
}

.body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto;
    min-height: 100vh;
    max-width: 639px;

    &--no-scroll {
        overflow: hidden !important;
    }
}

@include sm {
    .body {
        min-width: 100%;
    }
}

@include xl {
    .body {
        margin-left: auto;
        margin-right: auto;
        min-width: 1360px;
    }
}