.about-me {
    @include scroll-margin;
    display: grid;
    grid-template-areas:
    "title"
    "guideline"
    "text"
    "photo";
    row-gap: 2rem;
    padding-top: 2.5rem;

    &--highlight {
        font-weight: 600;
        color: $accent-color;
    }

    &__title {
        grid-area: title;
        padding: 0 2.5rem;
        font-size: 3rem;
        font-weight: 800;
        text-transform: capitalize;
        color: $accent-color;
    }

    &__guideline {
        grid-area: guideline;
        padding: 0 2.5rem;

    }

    &__text-container {
        grid-area: text;
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        padding: 0 2.5rem;
    }

    &__text {
        font-size: 0.7rem;
    }

    &__photo-container {
        grid-area: photo;
        width: 100%;
        background-color: $secondary-color;
        line-height: 0;
        padding: 2rem 0;
    }

    &__photo {
        display: block;
        height: 199px;
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
    }
}

@include sm {
    .about-me {
        grid-template-areas:
        "title photo"
        "guideline photo"
        "text photo";
        grid-template-columns: 3fr 1fr;
        column-gap: 0;
        padding-top: 0;

        &__title {
            padding-top: 5rem;
            padding-right: 8rem;
        }

        &__guideline {
            padding-right: 8rem;
        }

        &__text-container {
            padding-bottom: 2rem;
            padding-right: 8rem;
        }

        &__photo-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 0;
        }
    
        &__photo {
            position: absolute;
            left: -105px;
            border-radius: 6px;
        }
    }
}