.job {
    padding: 0 1.5rem;
    
    &__title {
        padding-bottom: 0.5rem;
        font-size: 1.3rem;
    }

    &__date {
        display: block;
        color: $accent-color;
    }

    &__company {
        padding-bottom: 1rem;
    }

    &__description {
        padding-bottom: 1rem;
        font-size: 0.9rem;
        line-height: 1.3;
    }

    &__missions {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    &__mission {
        background-color: $secondary-color;
        padding: 1rem 1rem;
        border-radius: 8px;
    }

    &__mission-title {
        margin-bottom: 0.2rem;
    }

    &__mission-tools {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        line-height: 1.2;
        color: $accent-color;
    }

    &__mission-description {
        font-size: 0.8rem;
        line-height: 1.3;
    }
}

@include sm {
    .job {
        display: grid;
        grid-template-columns: 1fr 0.15rem 1fr;
        column-gap: 1rem;

        &::before {
            grid-column-start: 2;
            grid-row: 1;
            background-color: $primary-color;
            content: "";
        }

        &__position {
            grid-column-start: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 5rem;
                    
            &::after {
                position: relative;
                top: -50%;
                left: calc(100% + 0.3rem);
                display: block;
                width: 1rem;
                border: 0.3rem solid $primary-color;
                border-radius: 50%;
                aspect-ratio: 1;
                background-color: #ffffff;
                content: "";
            }
        }

        &__missions {
            justify-content: center;
            grid-column-start: 3;
            margin: 0;
            padding-bottom: 5rem;
        }

        &__title {
            color: $secondary-color;
        }
    
        &__date {
            color: $secondary-color;
        }
    
        &__company {
            color: $secondary-color;
        }
    
        &__description {
            padding-bottom: 1rem;
            font-size: 0.9rem;
            line-height: 1.3;
            color: $secondary-color;
        }

        &__mission {
            
            background-color: $primary-color;
        }
    }
}

@include xl {
    .job {
        column-gap: 2rem;

        &__position {
            &::after {
                left: calc(100% + 1.3rem);
            }
        }
    }
}